ion-select {

   --placeholder-opacity: 1 !important;
   max-width: 100% !important;
   width: 100% !important;
   padding-left: 0 !important;
    }
    select-icon-inner {
        --opacity: 1 !important;
    }

    ion-auto-complete {
        width:100%;
        --placeholder-opacity: 1 !important;
        --placeholder-color: white !important;
      }

  

   