<ion-header>
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <p style="color: white; font-size: 16px; font-weight: bold;" >NUEVA SOLICITUD</p>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="backgeneral">
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <p style="color: yellow; font-size: 12px; font-weight: lighter;" >Ingresa la siguiente Información</p>
    </ion-col>
  </ion-row>  
  <ion-row class="ion-align-items-center">
    <ion-col size="12">
      <hr style="background-color: white;">
    </ion-col>
  </ion-row>   


  <ion-item class="itemcolor1" >
    <input type="hidden" [(ngModel)]="categoryId" >
    <ion-input [(ngModel)]="categoryDescr" placeholder="Seleccionar Categoría" (click)="onFocus($event)"></ion-input>
    <!-- <ion-select-option  *ngFor="let item of items" [value]="item.id">{{item.name}}</ion-select-option> -->
</ion-item>


  <ion-auto-complete [(ngModel)]="provinceName" (itemSelected)="selectedItem($event)" (ionClear)="itemRemoved($event)" [dataProvider]="autoprovinceService" [options]="{ placeholder : 'Buscar Ciudad' }"></ion-auto-complete>
  <ion-item style="display: none;">
    <ion-label position="floating">Descripción</ion-label>
    <ion-input [(ngModel)]="description" placeholder="Describe lo que buscas ó deseas"></ion-input>
  </ion-item>
  <ion-item class="itemcolor1">
    <ion-textarea [(ngModel)]="note" rows="6" cols="20" placeholder="Describe lo que estás buscando" (ngModelChange)="get($event)"></ion-textarea>
  </ion-item>
  <ion-item *ngIf="note != '' && note !=null" class="itemcolor1">
    <p>Usando {{leng}}</p><p>/800 Caracteres</p>
  </ion-item>
  <ion-item class="itemcolor1"  button (click)="pickfile()">
    <ion-label>Adjuntar PDF o Foto</ion-label>
    <ion-icon slot="end" class="itemcolor1" name="document-attach-outline"></ion-icon>
  </ion-item>

  <ion-item class="itemcolor1">
    <!-- <div class="divide" id="lgdomicilio"></div> -->
   <ion-label>¿Incluir Descuento?</ion-label>
    <ion-toggle checked={checked} [(ngModel)]="descuento" ></ion-toggle>
  </ion-item> 

  <ion-item class="itemcolor1">
   <ion-label>¿Visualizar Nombre?</ion-label>
    <ion-toggle [(ngModel)]="V_nombre" ></ion-toggle>
  </ion-item> 

  <ion-item  *ngIf="fileUrl!=''" >
    <ion-img [src]="fileUrl"></ion-img>
    <ion-button (click)="clearimg()" color="danger" ><ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon></ion-button>
  </ion-item>
  <ion-progress-bar *ngIf="working" color="secondary" type="indeterminate"></ion-progress-bar>
  <ion-grid>
    <ion-row class="ion-align-items-center">
  <ion-col size="12" class="ion-text-center">
    <ion-button [disabled]="working" shape="round" color="secondary" (click)="send()" ><ion-icon slot="start" name="send"></ion-icon>Consultar Información</ion-button>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
