<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Anuncios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  id="signup" fullscreen class="backgeneral" >
  <div class="section_two ion-padding">

  <!-- <form [formGroup]="form" (ngSubmit)="tryRegister(form.value)">
    <input type="hidden" formControlName="id">
    <ion-progress-bar *ngIf="working" color="secondary" type="indeterminate"></ion-progress-bar>
         

          <ion-item class="itemcolor1">
            <div class="divide" id="lgyoutube"><ion-icon class="allicon" name="copy-outline" style="color:white"></ion-icon></div>
            <ion-input formControlName="name" type="text" placeholder="Nombre Categoria"></ion-input>
          </ion-item>
         
            <div class="buttons ion-padding-top">
              <ion-button expand="block" color="secondary"  shape="round" type="submit" [disabled]="form.invalid" >Crear</ion-button>
            </div>
  </form> -->

</div>
</ion-content>
