<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <p style="color: white; font-size: 16px; font-weight: bold;" >Balances</p>      
    </ion-title>     
  </ion-toolbar>
</ion-header>
<ion-content class="backgeneral">
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <p style="color: yellow; font-size: 14px; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif;" > Empresas y Clientes Registrados</p>
      <hr style="background-color: white;">
    </ion-col>
  </ion-row> 
<ion-content  id="signup" fullscreen class="backgeneral" >
  <div class="section_two ion-padding">
  <p style="color: white; font-size: 14px; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif;" >Empresas:  <span style="font-size: 14px;color:yellow;font-weight:bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">{{empresas}}</span> </p>
  <hr>
  <hr>
  <p style="color: white; font-size: 14px; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif;" >Clientes:  <span style="font-size: 14px;color:yellow;font-weight:bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">{{clientes}}</span></p>

</div>
</ion-content>