<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <p style="color: white; font-size: 16px; font-weight: bold;" >CREAR CATEGORÍA</p>      
    </ion-title>     
  </ion-toolbar>
</ion-header>
<ion-content class="backgeneral">
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <p style="color: yellow; font-size: 14px; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif;" >Ingresa la siguiente Información</p>
      <hr style="background-color: white;">
    </ion-col>
  </ion-row> 
<ion-content  id="signup" fullscreen class="backgeneral" >
  <div class="section_two ion-padding">
  <form [formGroup]="form" (ngSubmit)="tryRegister(form.value)">
    <input type="hidden" formControlName="id">
    <ion-progress-bar *ngIf="working" color="secondary" type="indeterminate"></ion-progress-bar>
         

          <ion-item class="itemcolor1">
            <div class="divide" id="lgyoutube"><ion-icon class="allicon" name="copy-outline" style="color:white"></ion-icon></div>
            <ion-input formControlName="name" type="text" placeholder="Nombre Categoría"></ion-input>
          </ion-item>
         
            <div class="buttons ion-padding-top">
              <ion-button expand="block" color="secondary"  shape="round" type="submit" [disabled]="form.invalid" >Guardar Información</ion-button>
            </div>
  </form>
</div>
</ion-content>
