<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">      
      <p style="color: white; font-size: 16px; font-weight: bold;" >CREAR CUENTA - EMPRESA</p>
    </ion-title>    
  </ion-toolbar>
</ion-header>
<ion-content  id="signup" fullscreen class="backgeneral" >
  <div class="section_two ion-padding">   
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <p style="color: yellow; font-size: 16px; font-weight: lighter; font-family: Verdana, Geneva, Tahoma, sans-serif;" >Ingresa la siguiente Información</p>
    </ion-col>
  </ion-row>   
  <ion-row class="ion-align-items-center">
    <ion-col size="12">
      <hr style="background-color: white;">
    </ion-col>
  </ion-row>  
  <form [formGroup]="form" (ngSubmit)="tryRegister(form.value)">
    <input type="hidden" formControlName="lat">
    <input type="hidden" formControlName="lng">
    <ion-progress-bar *ngIf="working" color="secondary" type="indeterminate"></ion-progress-bar>
          <ion-item class="itemcolor1">
            <div class="divide"><ion-icon class="allicon" name="copy-outline" style="color:white"></ion-icon></div>
            <ion-select multiple="true" formControlName="name"  placeholder=" Selecciona la(s) Categoría(s)" cancelText="Cancelar" okText="Aceptar"  [formControl]="form.controls.categoriesid" >
              <ion-select-option  *ngFor="let item of items" [value]="item.id">{{item.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-auto-complete  formControlName="provinceName"   (itemSelected)="selectedItem($event)" (ionClear)="itemRemoved($event)" [dataProvider]="autoprovinceService" [options]="{ placeholder : 'Ciudad Residencia (*)' }"></ion-auto-complete>
          <ion-item class="itemcolor1">
            <div class="divide" id="lgempresa"><ion-icon class="allicon" name="storefront-outline" style="color:white"></ion-icon></div>
            <ion-input formControlName="name" type="text" placeholder="   Nombre Empresa  (*)"  required>   </ion-input>
          </ion-item>
          <ion-item class="itemcolor1">
            <div class="divide" id="lgcorreo"><ion-icon class="allicon" name="mail-outline" style="color:white"></ion-icon></div>
            <ion-input formControlName="email" type="text" placeholder="   Correo Electrónico  (*)"  required>   </ion-input>
          </ion-item>
          <ion-item class="itemcolor1">
            <div class="divide" id="lgpassword"><ion-icon class="allicon" name="key" style="color:white"></ion-icon></div>
            <ion-input formControlName="password" type="password" placeholder="   Clave - Mínimo 6 caracteres  (*)"  required>   </ion-input>
          </ion-item>
          <ion-item class="itemcolor1">
            <div class="divide" id="lgpassword"><ion-icon class="allicon" name="key" style="color:white"></ion-icon></div>
            <ion-input formControlName="confirm" type="password" placeholder="    Confirmar Clave  (*)"  required>   </ion-input>
          </ion-item> 
          
          
          <ion-item class="itemcolor1">
            <div class="divide" id="lgcelular"><ion-icon class="allicon" name="phone-portrait-outline" style="color:white"></ion-icon></div>
            <ion-input formControlName="phone"  type="text" placeholder="   N° Celular"  required>   </ion-input>
          </ion-item>
          <ion-item class="itemcolor1">
            <div class="divide"><ion-icon class="allicon" name="call-outline" style="color:white"></ion-icon></div>
            <ion-input formControlName="fijo"  type="text" placeholder="   N° Fijo"  >   </ion-input>
          </ion-item>
          <ion-item class="itemcolor1">
            <div class="divide" id="lgubicacion"><ion-icon class="allicon" name="location-outline" style="color:white"></ion-icon></div>
            <ion-input formControlName="ubication" (click)="focus()" readonly="readonly"  type="text" placeholder="   Elegir Ubicación"  >   </ion-input>            
          </ion-item>  
          <ion-item class="itemcolor1">
            <div class="divide" id="lgfacebook"><ion-icon class="allicon" name="logo-facebook" style="color:white"></ion-icon> </div>
            <ion-input formControlName="facebook"  type="text" placeholder="   Facebook"  >   </ion-input>            
          </ion-item>
          <ion-item class="itemcolor1">
            <div class="divide" id="lgyoutube"><ion-icon class="allicon" name="logo-youtube" style="color:white"></ion-icon></div>
            <ion-input formControlName="youtube"  type="text" placeholder="   Youtube"  >   </ion-input>
          </ion-item>          
          <ion-item class="itemcolor1">
            <div class="divide" id="lginstagram"><ion-icon class="allicon" name="logo-instagram" style="color:white"></ion-icon></div>
            <ion-input formControlName="instagram"  type="text" placeholder="   Instagram"  >   </ion-input>
          </ion-item>
            <ion-item class="itemcolor1">
              <div class="divide" id="lgdomicilio"><ion-icon class="allicon" name="id-card-outline" style="color:white"></ion-icon></div>
             <ion-label>   ¿Cuenta con Domicilio?</ion-label>
              <ion-toggle   formControlName="hasDelivery" ></ion-toggle>
            </ion-item>  
          <div class="buttons ion-padding-top">
            <ion-button expand="block" color="secondary"  shape="round" type="submit" [disabled]="form.invalid" >Guardar Información</ion-button>
          </div>
  </form>
</div>
</ion-content>