<ion-header>
  <ion-toolbar color="secondary" >        
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <p style="color: white; font-size: 16px; font-weight: bold;" >CAMBIAR CLAVE</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="backgeneral">
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <p style="color: yellow; font-size: 14px; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif;" >Ingresa el Correo Electrónico.</p>
      <hr style="background-color: white;">
    </ion-col>
  </ion-row>  
  <ion-item class="itemcolor1">
    <div class="divide" id="lgcorreo"><ion-icon class="allicon" name="mail-outline" style="color:white"></ion-icon></div>
    <ion-input [(ngModel)]="mail" placeholder="Correo Electrónico" ></ion-input>
  </ion-item>
  <ion-progress-bar *ngIf="working" color="secondary" type="indeterminate"></ion-progress-bar>
  <ion-grid>
    <ion-row class="ion-align-items-center">
  <ion-col size="12"  class="ion-text-center">
   <ion-button [disabled]="working || mail==''" shape="round" color="secondary" (click)="send()" ><ion-icon slot="start" name="send"></ion-icon>Enviar</ion-button>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
