<ion-header>
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-menu-toggle menu="pages">
        <ion-button >
          <ion-icon name="menu-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <ion-button (click)="cancel()" *ngIf="selecctedItems.length > 0">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <p style="color: white; font-size: 16px; font-weight: bold;" >PEDIDOS</p>      
    </ion-title>         
    <ion-buttons slot="end">
      <ion-button *ngIf="selecctedItems.length == 0" style="display: none;">
        <ion-icon slot="icon-only" style="font-size:18px !important" src="assets/icon/filter.svg"></ion-icon>
      </ion-button>
      <ion-button (click)="delete()" *ngIf="selecctedItems.length > 0">
        <ion-icon name="trash-outline"></ion-icon>
        <ion-badge color="secondary">{{selecctedItems.length}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-tab-bar class="backgeneral">
  <ion-tab-button (click)="filter('f1')" #tab1>
    <ion-label [style.color]="color" >HOY</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="filter('f2')" #tab2>
    <ion-label [style.color]="color2" >AYER</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="filter('f3')" #tab3>
    <ion-label [style.color]="color3" >ANTIGUAS</ion-label>
  </ion-tab-button>
</ion-tab-bar>
<ion-content class="backgeneral">
  <ion-progress-bar *ngIf="working" color="secondary" type="indeterminate"  ></ion-progress-bar>
  <ion-item *ngFor="let item of items" (click)="detail(item.c.id)">
    <ion-label>
      <ion-text> <h3 style="font-weight: bold; text-transform: capitalize;color:white">{{item.c.creationDate | timeAgo}}</h3></ion-text>
      <p  style="color: yellow;"><ion-icon *ngIf="item.c.fileUrl!=null && item.c.fileUrl!=''" style="color:yellow" name="document-attach-outline"></ion-icon><span *ngIf="item.c.note!='null' && item.c.note!=''">&nbsp;{{item.c.note}}</span></p>
      <p style="font-weight: bold;color: #0ae70a" *ngIf="item.responses.length==0"></p> <p  style="color: #50c8ff" *ngIf="item.responses.length>0"><ion-icon style="color:#d310d3" *ngIf="item.responses[0].status=='I'" name="star"></ion-icon>{{item.responses[0].finalAmount | currency:'USD':'symbol':'1.0-0'}}</p>
    </ion-label>
    <ion-icon slot="end" style="color:white" name="chevron-forward-outline"></ion-icon>
  </ion-item>
</ion-content>
