<ion-header class="ion-no-border backgeneral">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" >
      <p style="color: white; font-size: 20px; font-weight: bold;" >¡BIENVENIDO - QPRICE!</p>
    </ion-title>           
  </ion-toolbar>
</ion-header>

<ion-content class="backgeneral">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-left">
        <ion-text>
          <span style="font-size: 14px;color:yellow;font-weight:lighter;">{{result}}</span>          
        </ion-text>
      </ion-col>
    </ion-row>  
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-right">
        <ion-button  class="btntam" (click)="iniciar_sesion()" shape="round" color="btnfav" ><ion-icon slot="start" name="enter-outline"></ion-icon><p style="color: #000; font-size: 14px; font-weight: bold;" >Iniciar Sesión</p></ion-button>
        
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <hr style="background-color: white;">
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-left">
        <ion-text color="warning" >
          <span style="font-size: 14px;color:yellow;font-weight: bold;">¿ERES USUARIO NUEVO Y DESAS
             <u style="color: white; font-size: 14px; font-weight: bold;" > REGÍSTRARTE? </u> </span> 
          
          
              
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">     
      <ion-col size="12" class="ion-text-right">
        <ion-button class="btntam"  (click)="company()" shape="round" color="btnfav" ><ion-icon slot="start" name="cash-outline"></ion-icon><p style="color: #000; font-size: 14px; font-weight: bold;" >REGISTRO OFRECER</p></ion-button>
      </ion-col>     
    </ion-row> 
   
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-right">
        <i class="bi bi-arrow-bar-right"></i>
        <ion-button class="btntam" (click)="customer()" shape="round" color="btnfav" ><ion-icon slot="start" name="search-circle-outline" ></ion-icon><p style="color: #000; font-size: 14px; font-weight: bold;" >REGISTRO BUSCAR</p></ion-button>
      </ion-col>
    </ion-row>

    <div id="logodiv">
      <img src="../../../assets/images/qprice.png" alt="Qprice">
    </div>

</ion-grid>
</ion-content>
