<ion-header>
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <p style="color: white; font-size: 16px; font-weight: bold;" >RESULTADOS</p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="detailsol()">
        <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backgeneral">
  <ion-progress-bar *ngIf="working" color="secondary" type="indeterminate"></ion-progress-bar>
  <ion-item button   *ngFor="let item of items" (click)="detail(item.id)" >
    <ion-label>
      <h3 style="font-weight: bold; text-transform: capitalize;color: white;">{{item.company.name}}&nbsp;&nbsp;<ion-icon *ngIf="item.company.hasDelivery==true" slot="icon-only"  src="assets/icon/envio.svg"></ion-icon></h3>
      <p style="font-weight: bold;color: #50c8ff"><ion-icon style="color:#d310d3" *ngIf="item.status=='I'" name="star"></ion-icon>{{item.finalAmount | currency:'USD':'symbol':'1.0-0'}}</p>
      <p style="color: yellow;text-transform: capitalize;">{{item.creationDate | timeAgo}}</p>
    </ion-label>
    <ion-icon slot="end" style="color:white" name="chevron-forward-outline"></ion-icon>
  </ion-item>
</ion-content>
